body {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  background: url("../mountain-clouds.jpeg");
  background-size: auto;
}

h2 {
  text-align: center;
  font-size: 5rem;
  margin-top: 2rem;
}

form {
text-align: center;
margin-top: 2rem;
}

input {
  display: inline-block;
  height: 2rem;
  text-align: center;
}

button {
  display: inline;
  border: none;
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}


.weather, .city, .bonus{
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.city {
  margin-right: 2rem;
}

#city {
  font-size: 2rem;
  text-transform: uppercase;
}

#temperature, .weatherApp {
  font-size: 3rem;
}

#description, p{
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  input {
    diplay: block;
    margin: 0 auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
