body {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  font-size: 5rem;
  margin-top: 2%;
}
form {
  margin-left: 40rem;
  margin-top: 20rem;
}

input {
  display: inline-block;
  height: 2rem;
  text-align: center;
}

button {
  display: inline;
  border: none;
  margin-left: 2rem;
}

.weather,.city{
  display: inline-block;
  text-align: center;
  height: 10rem;
  width: 20rem;
  border: 1px solid black;
}

/* #city,#temperature,#description, {
  height: 10rem;
  width: 20rem;
  border: 1px solid black;
  margin-left: 20%;
} */
